In [2]:
import pandas as pd
import numpy as np

In [7]:
# Load the dataset
df = pd.read_csv(r"C:\Users\riyas\Downloads\sales_data_sample.csv", encoding='ISO-8859-1')

In [8]:
# --- Initial Inspection ---
# Display a summary of the DataFrame
print("--- Initial Data Info ---")
df.info()

--- Initial Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    10 non-null     int64
 1   StockCode    10 non-null     object
 2   Description  10 non-null     object
 3   Quantity     10 non-null     int64
 4   InvoiceDate  10 non-null     object
 5   UnitPrice    10 non-null     float64
 6   CustomerID   9 non-null      float64
 7   Country      10 non-null     object
dtypes: float64(2), int64(2), object(4)
memory usage: 772.0+ bytes

In [9]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536366,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:28,2.75,17850.0,United Kingdom
3,536367,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:34,3.39,NaN,United Kingdom
4,536368,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:35,3.39,13047.0,United Kingdom

In [10]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
5,536369,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:45,7.65,12583.0,France
6,536370,22745,POPPY'S PLAYHOUSE BEDROOM,3,12/1/2010 9:00,-3.75,12583.0,Germany
7,536371,22633,HAND WARMER UNION JACK,1,12/1/2010 9:01,1.85,13047.0,United Kingdom
8,536372,22632,HAND WARMER RED POLKA DOT,1,12/1/2010 9:02,1.85,13047.0,United Kingdom
9,536373,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 9:05,1.69,12583.0,France

In [11]:
# Check for the number of missing values in each column
print("\n--- Initial Missing Values ---")
print(df.isnull().sum())

--- Initial Missing Values ---
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     1
Country        0
dtype: int64

In [12]:
# See the first 5 rows to understand the data
print("\n--- First 5 Rows ---")
print(df.head())

--- First 5 Rows ---
   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536366    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536367    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536368    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:28       2.75     17850.0  United Kingdom
3  12/1/2010 8:34       3.39         NaN  United Kingdom
4  12/1/2010 8:35       3.39     13047.0  United Kingdom

In [13]:
# Convert all column names to lowercase
df.columns = df.columns.str.lower()

In [14]:
df

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536366,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:28,2.75,17850.0,United Kingdom
3,536367,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:34,3.39,NaN,United Kingdom
4,536368,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:35,3.39,13047.0,United Kingdom
5,536369,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:45,7.65,12583.0,France
6,536370,22745,POPPY'S PLAYHOUSE BEDROOM,3,12/1/2010 9:00,-3.75,12583.0,Germany
7,536371,22633,HAND WARMER UNION JACK,1,12/1/2010 9:01,1.85,13047.0,United Kingdom
8,536372,22632,HAND WARMER RED POLKA DOT,1,12/1/2010 9:02,1.85,13047.0,United Kingdom
9,536373,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 9:05,1.69,12583.0,France

In [15]:
# Print the new column names to verify
print("\n--- Cleaned Column Names ---")
print(df.columns)

--- Cleaned Column Names ---
Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'country'],
      dtype='object')

In [21]:
# Check for duplicate rows before removal
print(f"\nNumber of duplicate rows found: {df.duplicated().sum()}")

Number of duplicate rows found: 0

In [22]:
# Remove duplicate rows (if any)
df.drop_duplicates(inplace=True)

In [23]:
print(f"Number of duplicate rows after removal: {df.duplicated().sum()}")

Number of duplicate rows after removal: 0

In [25]:
# Convert 'orderdate' from object to datetime
df['invoicedate'] = pd.to_datetime(df['invoicedate'])

In [26]:
# Verify the data types again
print("\n--- Data Info After Type Conversion ---")
df.info()

--- Data Info After Type Conversion ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    10 non-null     int64
 1   stockcode    10 non-null     object
 2   description  10 non-null     object
 3   quantity     10 non-null     int64
 4   invoicedate  10 non-null     datetime64[ns]
 5   unitprice    10 non-null     float64
 6   customerid   9 non-null      float64
 7   country      10 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 772.0+ bytes

In [28]:

print(df['invoiceno'].value_counts())

invoiceno
536365    2
536366    1
536367    1
536368    1
536369    1
536370    1
536371    1
536372    1
536373    1
Name: count, dtype: int64

In [29]:
print(df['quantity'].value_counts())

quantity
6     4
1     2
8     1
2     1
3     1
32    1
Name: count, dtype: int64

In [30]:
df.to_csv('cleaned_sales_data.csv', index=False)